.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.app-cards-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  padding: 8px;
  display: flex;
  flex-directccbp start RJSIVMIANX
  ion: column;
  height: 300px;
  width: 500px;
}
.card-heading {
  color: #171f46;
}
.card-description {
  color: #64748b;
}
.card-image {
  align-self: flex-end;
}
