/* Write your code here. */
*{
    box-sizing:border-box;
}
.container {
    font-family:"Roboto";
  height: 100vh;
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  display: flex;
flex-direction:column;
  justify-content: center;
 align-items:center;
}
.heading{
    color:#0f172a;
}
.profile-card{
    
padding:20px;
    border-radius:8px;
    background-color:#cffafe;
    color:Hex: #1e293b;
     display: flex;
flex-direction:column;
  justify-content: center;
  align-items:center;
 text-align:center;

}
.profile-image{
    height:80px;
    width:80px;
    border-radius:50%;
}
.profile-name{}
.profile-description{}
