.registration-form-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ea580c;
  font-size: 36px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
}

@media screen and (min-width: 768px) {
  .form-container {
    box-shadow: 0px 4px 16px rgba(126, 133, 142, 0.16);
    padding: 64px 48px 64px 48px;
  }
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

@media screen and (min-width: 768px) {
  .input-label {
    font-size: 16px;
    line-height: 20px;
    color: #475569;
  }
}

.firstname-input-filed,
.lastname-input-filed {
  font-size: 14px;
  height: 30px;
  border: 1px solid #d7dfe9;
  background-color: #ffffff;
  color: #000000;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}

.wrong {
  border: 1px solid #ff0b37;
  background-color: #fef2f4;
}

.submit-button {
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  height: 40px;
  padding: 8px 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background-color: #ea580c;
}

.success-card-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-img {
  height: 80px;
  width: 80px;
}

.submit-another-response-button {
  border: none;
  border-radius: 10px;
  height: 40px;
  padding: 8px 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  background-color: #ea580c;
  width: 90vw;
}

@media screen and (min-width: 768px) {
  .success-card-container {
    box-shadow: 0px 4px 16px rgba(126, 133, 142, 0.16);
    padding: 64px 48px 64px 48px;
  }
  .submit-another-response-button {
    max-width: 300px;
  }
}
.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
