.thumbnail-image-item {
  border-radius: 10px;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
}
.thumbnail-button {
  display: inline-block;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
}
.thumbnail-image {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}
.apply-opacity {
  opacity: 0.2;
}
.remove-opacity {
  opacity: 1;
}
