.gallery-details-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.description {
  color: #64748b;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
}

.thumbnails-list-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}

.thumbnail {
  width: 60px;
  height: 60px;
}

.thumbnail-list-item {
  margin-right: 16px;
  margin-bottom: 16px;
  opacity: 0.5;
  cursor: pointer;
}

.selected-thumbnail-list-item {
  opacity: 1;
}
