* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  display: flex;
  justify-content: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/portfolio-sm-bg.png');
  background-size: cover;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .app-container {
    align-items: center;
    background-image: url('https://assets.ccbp.in/frontend/react-js/portfolio-lg-bg.png');
  }
}
