/* Write your code here. */
.container {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.heading {
  color: #f8fafc;
}
.image-container {
  /* align-self: center;
  display: flex; */
}
.team-image {
  height: 200px;
  width: 200px;
}
