/* Write your CSS here */
* {
  box-sizing: border-box;
}
.container {
  background-color: #1e293b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #f0bb03;
  font-family: 'Bree Serif';
  font-size: 70px;
  margin-bottom: 20px;
}

.description {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 30px;
}

.button {
  border: 0;
  border-radius: 10px;
  height: 30px;
  padding: 8px 16px;
  background-color: #ffffff;
}
