.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.not-found-img {
  width: 400px;
}
.notfound-heading {
  font-family: 'Roboto';
  font-weight: 500;
  line-height: 56px;
  color: #3d3d3d;
}
